<div class="product-list-wrapper">
    <mat-tab-group>
      <mat-tab label="Recieved Products">
        <h1>Recieved List:</h1>
        <div class="products-container">
            <div *ngFor="let product of (recievedList$ | async)">
                  <app-single-product *ngIf="product && product.isRecieved" [product]="product" [currencyCurrent$]="(currenctCurrency$ | async)"></app-single-product>
            </div>
        </div> 
      </mat-tab>
      <mat-tab label="Stores">
          <app-stores-list [productsList$]="(recievedList$ | async)" [isRecived]="true"></app-stores-list>
      </mat-tab>
    </mat-tab-group>
  </div>
  